---
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About Me">
    <main class="bg-gray-200 dark:bg-gray-800 h-2/3 sm:h-screen flex flex-col">
        <Menu />
        <Hero />
    </main>
</Layout>