---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About Me">
    <main class="bg-[#fcfcfc] dark:bg-gray-800 h-full flex flex-col">
        <Menu />
        <Hero />
        <Footer />
    </main>
</Layout>