---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Projects">
    <main class="bg-gray-200 dark:bg-gray-800 h-screen flex flex-col">
        <Menu />
        <div class="flex w-full h-full justify-center items-center">
            <span class="text-dark dark:text-white text-4xl">Comming Soon</span>
        </div>
    </main>
</Layout>