---
import Footer from "../components/Footer.astro";
import Loader from "../components/Loader.astro";
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Projects">
    <main class="bg-gray-200 dark:bg-gray-800 h-screen flex flex-col">
        <Menu />
        <div class="flex w-full h-full justify-center items-center">
            <div class="flex items-center justify-around sm:justify-center w-2/3">
                <span class="text-dark dark:text-white text-4xl lg:px-5">Coming Soon</span>
                <Loader />
            </div>
        </div>
        <Footer />
    </main>
</Layout>