---

---

<footer class="flex w-full justify-center">
    <div class="flex flex-row items-center space-x-1 my-3">
        <span class="text-lg font-medium dark:text-white">this website is OSS and available on : </span>
        <a class="py-2 pl-3 pr-4 text-gray-700 text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#063ef9] md:p-0 dark:text-gray-400 md:dark:hover:text-[#00baff] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" href="https://github.com/Drumzy/portfolio">Github</a>
    </div>
</footer>