---
---

<div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center h-full">
    <div class="w-full">
        <div class="flex flex-col">
            <h1 class="text-6xl font-bold tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-[#00baff] to-[#063ef9] py-4">Hey, I'm Wael Rassaa</h1>
            <span class="text-xl font-medium text-gray-800 dark:text-gray-300">FullStack Developer </span>
        </div>
        <div class="mt-5 space-y-1 lg:w-3/4">
            <p class="text-2xl text-justify font-medium dark:text-white">I am a passionate Web Developer based in Tunisia. 
                I recently graduated from university specializing in Multimedia & Web Developement, 
                Currently looking for a job opportunity so i can grow my skillset and improve my skills and help contribute to build amazing things on the internet.</p>
        </div>
        <div class="flex flex-row items-center space-x-1 my-3">
            <span class="text-lg font-medium dark:text-white">P.S : this website is open-source and available on : </span>
            <a class="py-2 pl-3 pr-4 text-gray-700 text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#063ef9] md:p-0 dark:text-gray-400 md:dark:hover:text-[#00baff] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" href="https://github.com/Drumzy/portfolio">Github</a>
        </div>
    </div>
    
</div>