---
---

<div class="w-full flex flex-col px-6 py-8 mx-auto h-full space-y-3 items-center">
    <div class="w-full">
        <div class="flex flex-col">
            <h1 class="text-6xl font-bold tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-[#00baff] to-[#063ef9] py-4">Hey, I'm Wael Rassaa</h1>
            <span class="text-xl font-medium text-gray-800 dark:text-gray-300">FullStack Developer </span>
        </div>
        <div class="mt-5 space-y-1 lg:w-3/4">
            <p class="text-2xl text-justify font-medium dark:text-white">I am a passionate Web Developer based in Tunisia. 
                I recently graduated from university specializing in Multimedia & Web Developement, 
                Currently looking for a job opportunity so i can grow my skillset and improve my skills and help contribute to build amazing things on the internet.</p>
        </div>
    </div>
    
</div>