---
export interface Props {
	title: string;
	href: string;
}


const { href, title } = Astro.props;
---
<li>
<a class="block py-2 pl-3 pr-4 text-gray-700 text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#063ef9] md:p-0 dark:text-gray-400 md:dark:hover:text-[#00baff] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" href={href}>{title}</a>
</li>